body {
    background-color: #A53F40;
}


form {
    /* border: 3px solid rosybrown; */
    /* box-shadow: 8px 8px 5px 1px rgba(17, 17, 17, 0.438); */
    box-shadow: 0 0 10px 3px rgba(17, 17, 17, 0.438);
    padding: 20px;
    display: inline-block;
    width: 250px;
    align-content: center;
    /* background-color: gray; */
}

.form {
    display: flex;
    justify-content: center;
}

input {
    /* border: 3px dashed green; */
    margin-top: 15px;
}

textarea {
    margin-top: 10px;
}

h1 {
    /* border: 3px dashed plum; */
    font-family: 'Sacramento', cursive;
    font-size: 60px;
    text-align: center;
    margin-top: 0;
}

.contact-icons {
    /* border: 3px dashed darkgreen; */
    text-align: center;
    padding-top: 50px;
}

i {
    /* border: 3px dashed darkblue; */
    font-size: 50px;
    margin: 20px;
}

.contact-icons a {
    color: rosybrown;
    
}

.fas {
    text-shadow:1px 6px lightgray
}

.fab {
    text-shadow:1px 6px lightgray
}

.contact-icons  a:visited {
    color: rosybrown;
}




