/* html {
    box-sizing: border-box;
} */

/* *, *:before, *:after {
    box-sizing: inherit;
} */

body {
    background: #ddd;
}

h1 {
    text-align: center;
    font-size: 75px;
    font-family: 'Sacramento', cursive;
}

main {
    max-width: 930px;
    margin: 4rem auto;
    margin-top: -8rem;
    /* border: 3px dashed red; */
}

.news-feed {
    /* border: 3px dashed blue; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.news-feed img {
    width: 100%;
}

section img {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* text-align: center; */
    /* padding:20px 0; */
    /* font-size: 30px; */
    box-shadow: 5px 10px 5px darkgrey;
}

@media (min-width: 700px) {
    .news-feed {
        grid-gap: 28px
    }
}

@media (max-width: 700px) {
    .news-feed {
        padding: 3.75%;
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 0;
        grid-row-gap: 20px;
    }

    h1 {
        margin-top: 100px;
    }
}
